.completed {
    text-decoration: line-through;
}
.delete-button {
    margin-left: 10px;
    
}

#taskList li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}